<?xml version="1.0"?>
<config>
    <modules>
        <Proonto_Chat>
            <version>1.0.1</version>
        </Proonto_Chat>
    </modules>
    <global>
        <blocks>
            <proonto_chat>
                <class>Proonto_Chat_Block</class>
            </proonto_chat>
        </blocks>
        <helpers>
            <proonto_chat>
                <class>Proonto_Chat_Helper</class>
            </proonto_chat>
        </helpers>
        <models>
            <proonto_chat>
                <class>Proonto_Chat_Model</class>
            </proonto_chat>
        </models>
    </global>

    <adminhtml>
        <translate>
            <modules>
                <Proonto_Chat>
                    <files>
                        <default>Proonto_Chat.csv</default>
                    </files>
                </Proonto_Chat>
            </modules>
        </translate>
        <events>
            <admin_system_config_changed_section_proonto_chat>
                <observers>
                    <proonto_chat>
                        <type>singleton</type>
                        <class>proonto_chat/observer</class>
                        <method>configChanged</method>
                    </proonto_chat>
                </observers>
            </admin_system_config_changed_section_proonto_chat>
            <model_config_data_save_before>
                <observers>
                    <proonto_chat>
                        <type>singleton</type>
                        <class>proonto_chat/observer</class>
                        <method>configDataSaveBefore</method>
                    </proonto_chat>
                </observers>
            </model_config_data_save_before>
        </events>
    </adminhtml>

    <frontend>
        <layout>
            <updates>
                <proonto_chat>
                    <file>proonto_chat.xml</file>
                </proonto_chat>
            </updates>
        </layout>
        <translate>
            <modules>
                <Proonto_Chat>
                    <files>
                        <default>Proonto_Chat.csv</default>
                    </files>
                </Proonto_Chat>
            </modules>
        </translate>
        <events>
            <checkout_onepage_controller_success_action>
                <observers>
                    <proonto_chat>
                        <type>singleton</type>
                        <class>proonto_chat/observer</class>
                        <method>checkoutOnepageSuccess</method>
                    </proonto_chat>
                </observers>
            </checkout_onepage_controller_success_action>
            <checkout_multishipping_controller_success_action>
                <observers>
                    <proonto_chat>
                        <type>singleton</type>
                        <class>proonto_chat/observer</class>
                        <method>checkoutMultishippingSuccess</method>
                    </proonto_chat>
                </observers>
            </checkout_multishipping_controller_success_action>
        </events>
    </frontend>

    <default>
        <proonto_chat>
            <general>
                <enabled>0</enabled>
                <verified>0</verified>
            </general>
        </proonto_chat>
    </default>
</config>